<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flight Monitor</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <div id="root" class="w-screen h-screen"></div>
  </body>
</html>
